<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.beatonma.lib.prefs">
    <application>
        <activity
            android:name="org.beatonma.lib.ui.pref.activity.ListPreferenceActivity"
            android:theme="@style/Beatonma.AppTheme.Floating"/>
    </application>
</manifest>